.rightAlign {
  text-align: right;
}
.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.addInvoiceButtonContainer {
  padding-right: 20px;
}

.actions > *:not(:last-child)::after {
  content: "|"; /* Add your separator character */
  margin-left: 10px; /* Adjust spacing */
  color: #000; /* Adjust color */
}

.addInvoiceButton {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.addInvoiceButtonIcon {
  font-size: 20px;
  margin-top: 3px;
}

.paymentDatePicker {
  margin-top: 10px;
  margin-bottom: 50px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 21px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.cardsTitleContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.cardsTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.animatedCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  height: 120px;
  color: #fff;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animatedCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardValue {
  font-size: 1.5rem;
  font-weight: bold;
}

.animatedCard.red {
  background-color: #d9534f; /* Bootstrap Danger */
  color: #fff;
}

.animatedCard.green {
  background-color: #5cb85c; /* Bootstrap Success */
  color: #fff;
}

.animatedCard.blue {
  background-color: #0275d8; /* Bootstrap Primary */
  color: #fff;
}

.invoicesListHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.tableContainer {
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .animatedCard {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .addInvoiceButton {
    flex-direction: column;
    gap: 5px;
  }

  .addInvoiceButtonIcon {
    font-size: 16px;
    margin-top: 0;
  }
}
