.container {
  display: flex;
  flex-wrap: wrap; /* Ensures flexibility on small screens */
  width: 100%;
}

.child {
  flex: 1 1 50%; /* Default: Equal width for both children */
  display: block; /* Ensure visibility unless hidden */
  height: 100vh;
}

.loginImage {
  background-image: url("/login-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .child:first-child {
    display: none; /* Hide the first child */
  }
  .child:last-child {
    flex: 1 1 100%; /* Take full width */
  }
}
