.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Ensure full viewport height */
}

.loginCard {
  background-color: #ffffff;
  border-radius: 8px;
  min-width: 450px;
  border: 1px solid #e5e7eb;
  padding: 32px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.passwordContainer {
  margin-top: 20px;
}

.passwordToggle {
  cursor: pointer;
}

.signInButton {
  margin-top: 20px;
}
