.header {
    display: flex;
    flex-direction: row; /* Align items in a row */
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Align items vertically in the center */
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;
}

.header .column {
    display: flex;
    justify-content: flex-start; /* Left-align content */
    align-items: center; /* Align items vertically in the center */
    flex: 1; /* Distribute space evenly across columns */
}
